.navbar {
  display: flex;
  flex-direction: row;
  border-bottom: thick solid #dddddd;
  width: 100%;
}

.logo {
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li input {
  display: block;
  margin: 14px 16px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
